.admin-section {
  padding-top: 8%;
  padding-left: 22%;
}

.admin-section img {
  width: 80%;
}

.shipment-tracking {
  padding: 20px;
}
/* 
ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #e9ecef;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
} */
