.admin-section {
  padding-top: 8%;
  padding-left: 22%;
}

.admin-section img {
  width: 80%;
}

.dashboard {
  padding: 20px;
}

.dashboard-metrics {
  display: flex;
  gap: 20px;
}

.metric {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
