.our-clients {
  padding: 4%;
  text-align: center;
  background-color: var(--color-white);
  font-family: inherit;
}

.our-clients h2 {
  margin-bottom: 5%;
  font-size: 35px;
  color: var(--color-black);
}

.clients-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.client-logo img {
  width: 150px;
  aspect-ratio: 1/1;
  object-fit: contain;
}
