.registration-container {
  max-width: 450px;
  padding: 20px;
  font-family: inherit;
  text-align: left;
  background-color: var(--color-grey-tint4);
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.registration-title {
  font-size: 3em;
  margin: 10px 0;
  text-align: center;
}

.brand-name {
  color: var(--color-primary);
  font-size: 1.5em;
}
.brand-name span {
  color: var(--color-grey-tint1);
}

.form-group {
  margin-bottom: 4%;
}

.form-group label {
  display: block;
  font-size: 1.5em;
  margin-bottom: 2%;
  font-weight: bold;
}

.check-box {
  margin-top: 2%;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-group input[type="checkbox"] {
  margin-right: 10px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.terms-info {
  margin: 10px 0;
  color: #555;
}